<div id='set_form'>
  <div id='set_flash_message'></div>
  <%= form_for :website_url do |f| %>
    <%= f.label :name, 'Website URL:' %>
    <%= f.text_field :name, placeholder: 'Enter url', class: 'text-input' %>
    <%= f.submit 'Create Url', class: 'create_btn' %>
  <% end %>
  
  <div id="spinner"></div>

  <div id='website_url'>
    <%= render :partial => '/website_urls/index' %>
  </div>
</div>
